
<!DOCTYPE html>
<html lang="en">
<head>

  <title>Pzza Day</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="styles/layout.css" type="text/css"/>

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-xs" href="#myPage"><img src="styles/AllaVodka.jpg"></a>
      <a class="navbar-brand" href="#myPage">Pzza Day</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/">MENU</a></li>
        <li><a href="/">LOGOUT</a></li>

      </ul>
    </div>
  </div>
</nav>

<body>
  <div class="new_item">
    <header>
      <div class="modal-header">


    <form method="GET" action="/" >
    </form>
    <h4><span class="glyphicon glyphicon-briefcase"></span>Manager</h4>
  </div>
  </header>
  <form class="container1">
      <h1>Add Menu Item</h1>
        Menu Item:<br>
        <input type="text" name="name"><br>
        Price:<br>
        <input type="number" name="price" step="0.25" min = "0"><br>
        Photo URL:<br>
        <input type="text" name="url"><br>
        Description:<br>
        <textarea name="description" rows="4" cols="50" form="menuform"></textarea></br>
      <input type="submit" id="submit" value="Add Item">
  </form>
  </div>
</body>



  <h1 class ="manage"> Manage Orders </h1>
  <div id="listOrders">
  <!-- Orders GO here from database! -->
  </div>

  <script>
    function reloadPage() {
      location.reload();
    }

    // ----------------ON PAGE LOAD-------------------
    $(document).ready(function(){
      loadOrders();

      //-------------COMPLETE ORDER -------------
      $('div').on('click', 'button', function (event) {
        let id = $(this).parent().find(".orderId").text();
        event.preventDefault(); //Place order asynch.
          $.ajax({
              method: 'PUT',
              url: '/orders/' + id,
              data: {"id": id}
            }).done(function () {
              console.log('done');
          });
        $(this).parent().remove();
      });
    });
  </script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>

</body>
</html>
