<!-- Container (The About Section) -->
<link rel="stylesheet" href="styles/layout.css" type="text/css"/>
<section id="about" class="container text-center">

  <article>
    <h3 class="slideanim">About</h3>
    <p class="slideanim"><em>We love Pizza! Our Pizza Chef is a certified pizzaiolo of the Associazione Pizzaiuoli Napoletani</em></p>

    <button class="btn" data-toggle="modal" data-target="#manager">Manager Login</button>




  </p>
    <br>
    <br>
  </article>
  <div class="row display-flex">
    <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3 slideanim">
      <p class="text-center"><strong>Association of Neapolitan Pizzamakers</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="styles/APN.jpg" class="img-circle collapse-info" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo" class="collapse">
        <p>Our Pizza Chef is a certified pizzaiolo of the Associazione Pizzaiuoli Napoletani (Association of Neapolitan Pizzamakers) and trained with Roberto Caporuscio of Don Antonio by Starita.</p>
      </div>
    </article>
    <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3 slideanim">
      <p class="text-center"><strong>Buffalo-Milk Mozzarella</strong></p><br><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="styles/bufala.jpg" class="img-circle collapse-info" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo2" class="collapse">
        <p>We offer buffalo mozzarella (Mozzarella di Bufala Campana D.O.P.) imported from the region around Naples as well as our own fresh mozzarella that we make daily in the kitchen of our store</p>
      </div>
    </article>
    <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3 slideanim">
      <p class="text-center"><strong>Protected Designation of Origin (D.O.P.)</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <img src="styles/DOPseal.jpg" class="img-circle collapse-info" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo3" class="collapse">
        <p>The “D.O.P.” label protects various Italian foods and certifies that the product is of the highest quality and has undergone numerous inspections.</p>
      </div>
    </article>
    <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3 slideanim">
      <p class="text-center"><strong>San Marzano D.O.P. Tomatoes</strong></p><br><br>
      <a href="#demo4" data-toggle="collapse">
        <img src="styles/SanMarzanoLogo.jpg" class="img-circle collapse-info" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo4" class="collapse">
        <p>We use San Marzano D.O.P. tomatoes as well as other imported Italian tomatoes.</p>
      </div>
    </article>
  </div>
</section>
