<!-- Container (Contact Section) -->
<link rel="stylesheet" href="styles/layout.css" type="text/css"/>
<section id="contact" class="container">
  <h3 class="text-center slideanim">Contact</h3>
  <p class="text-center slideanim"><em>Send us your feedback!</em></p>

  <div class="row">
    <article class="col-md-4">
      <p class="slideanim">Call and place an order for collection</p>
      <p class="slideanim"><span class="glyphicon glyphicon-map-marker"></span>150 9 Ave SW #2817, Calgary, AB T2P 1B4, Canada</p>
      <p class="slideanim"><span class="glyphicon glyphicon-phone"></span>Phone: +111 2223333</p>
      <p class="slideanim"><span class="glyphicon glyphicon-envelope"></span>Email: pzzaday@pizza.com</p>
    </article>
    <article class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control slideanim" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control slideanim" id="email" name="email" placeholder="Email" type="email" required>
        </div>
        </div>
          <textarea class="form-control slideanim" id="subject" name="subject" placeholder="Subject" rows="1"></textarea>
          <br>
          <textarea class="form-control slideanim" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
          <br>
        <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right slideanim" type="submit">Send</button>
        </div>
      </div>
    </article>
  </div>
</section>
