<!-- Footer -->
<link rel="stylesheet" href="styles/layout.css" type="text/css"/>
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <section class="row">
                <article class="col-sm-4">
                    <h5 class="uppercase general-sub slideanim">Opening Hours</h5>
                    <p class="inline-block slideanim">
                        Monday - Sunday<br>
                        11:00am - 9:00pm<br>
                        ... OR UNTIL WE RUN OUT OF DOUGH!
                    </p>
                </article>
                <article class="col-sm-4 ">
                    <h5 class="uppercase general-sub slideanim">Address</h5>
                    <p class="inline-block slideanim">
                        150 9 Ave SW #2817, Calgary, AB T2P 1B4, Canada<br>
                        Phone: 111 2223333<br>
                        Email: pzzaday@pizza.com
                    </p>
                </article>
                <article class="col-sm-4 ">
                    <h5 class="uppercase general-sub slideanim">Social</h5>
                    <ul class="list-inline social-links">
                        <li><a target="_blank " href="# "><i class="fa fa-facebook slideanim"></i></a></li>
                        <li><a target="_blank " href="# "><i class="fa fa-twitter slideanim"></i></a></li>
                        <li><a target="_blank " href="# "><i class="fa fa-instagram slideanim"></i></a></li>
                        <li><a target="_blank " href="# "><i class="fa fa-youtube slideanim"></i></a></li>
                    </ul>
                </article>
            </section>
</footer>
