<!-- Modal --->
<link rel="stylesheet" href="styles/layout.css" type="text/css"/>
<section  class="modal fade" id="manager" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4><span class="glyphicon glyphicon-shopping-cart"></span>Login</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="POST" action="/manager">
        <div class="form-group">
          <h6>Email</h6>
          <input name="email" required id="email" type="email"  placeholder="Enter email">
          <h6>Password</h6>
          <input name="password" id="password" type="password"  placeholder="Enter password">
        </div>

          </div>
            <button class="btn btn-primary" type="submit">Login</button>


              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </div>
        </form>
      <div class="modal-footer">


        </button>

      </div>
    </div>
  </div>
</div>
</section>
