<!-- Container (MENU Section) -->
<link rel="stylesheet" href="styles/layout.css" type="text/css"/>

<section id="menu" class="bg-1">
  <div class="container">
    <h3 class="text-center slideanimate">Pzza Day Menu</h3>
    <p class="text-center slideanimate">We'll make you some real Italian pizza.<br> Choose your Pizza below and order for collection!</p>

    <div class="row display-flex text-center">
      <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hvr-grow slideanim">
        <div class="thumbnail">


          <img src="styles/Margherita.jpg" alt="Margherita">
          <p><strong>Margherita - $10</strong></p>
          <p data-toggle="tooltip" title="Imported tomato sauce, Homemade mozzarella, Basil, Pecorino romano">Toppings Info <i class="fa fa-info-circle"></i></p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Order</button>
        </div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hvr-grow slideanim">
        <div class="thumbnail">
          <img src="styles/Bianca.jpg" alt="Bianca">
          <p><strong>Bianca - $8</strong></p>
          <p data-toggle="tooltip" title="Homemade mozzarella, ricotta, Pecorino romano">Toppings Info <i class="fa fa-info-circle"></i></p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Order</button>
        </div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hvr-grow slideanim">
        <div class="thumbnail">
          <img src="styles/Marinara.jpg" alt="Marinara">
          <p><strong>Marinara - $12</strong></p>
          <p data-toggle="tooltip" title="Imported tomato sauce, Oregano, Garlic, Pecorino romano">Toppings Info <i class="fa fa-info-circle"></i></p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Order</button>
        </div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hvr-grow slideanim">
        <div class="thumbnail">
          <img src="styles/Montanara.jpg" alt="Montanara">
          <p><strong>Montanara - $12</strong></p>
          <p data-toggle="tooltip" title="Lightly fried dough, Homemade marinara sauce, Homemade mozzarella, Pecorino romano">Toppings Info <i class="fa fa-info-circle"></i></p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Order</button>
        </div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hvr-grow slideanim">
        <div class="thumbnail">
          <img src="styles/AllaVodka.jpg" alt="AllaVodka" >
          <p><strong>Alla Vodka - $12</strong></p>
          <p data-toggle="tooltip" title="Vodka sauce, Homemade mozzarella, Basil, Pecorino romano">Toppings Info <i class="fa fa-info-circle"></i></p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Order</button>
        </div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hvr-grow slideanim">
        <div class="thumbnail">
          <img src="styles/Melanzane.jpg" alt="Melanzane">
          <p><strong>Melanzane - $15</strong></p>
          <p data-toggle="tooltip" title="Imported tomato sauce, Homemade mozzarella, Eggplant, Ricotta, Pecorino romano">Toppings Info <i class="fa fa-info-circle"></i></p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Order</button>
        </div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hvr-grow slideanim">
        <div class="thumbnail">
          <img src="styles/Pesto.jpg" alt="Pesto">
          <p><strong>Pesto - $14</strong></p>
          <p data-toggle="tooltip" title="Homemade pesto, Homemade mozzarella, Asiago, Pecorino romano (No olive oil)">Toppings Info <i class="fa fa-info-circle"></i></p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Order</button>
        </div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hvr-grow slideanim">
        <div class="thumbnail">
          <img src="styles/BroccoliRabeSausageAsiago.jpg" alt="Broccoli Rabe Sausage">
          <p><strong>Broccoli Sausage  - $15</strong></p>
          <p data-toggle="tooltip" title="Imported tomato sauce, Homemade mozzarella, Broccoli rabe sausage, Asiago, Basil, Pecorino romano">Toppings Info <i class="fa fa-info-circle"></i></p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Order</button>
        </div>
      </article>

    </div>
  </div>
</section>


